{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="custom-image-with-text-v2-section">
  <div class="section-{{ section.id }}-padding">
    <div class="Page_width">
      <div class="custom-image-with-text-v2-container">
        <div class="image-with-text-media-wrapper">
          <div class="v2-image-box">
            {% if section.settings.image != blank %}
              <img src="{{ section.settings.image | img_url: '' }}">
            {% endif %}
          </div>
        </div>
        <div class="image-with-text-content-wrapper">
          <div class="v2-content-box">
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'heading' -%}
                  <h2>{{ block.settings.heading }}</h2>
                {%- when 'subheading' -%}
                  <h5>{{ block.settings.subheading }}</h5>
                {%- when 'text' -%}
                  <p>{{ block.settings.text }}</p>  
                {%- when 'checklist-text' -%}
                  <p>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.83337 13.9998L11.6667 19.8332L23.3334 8.1665" stroke="white" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {{ block.settings.checklist-text }}
                </p>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


                    
<style>

.custom-image-with-text-v2-section .custom-image-with-text-v2-container {
  display: flex;
}
  
.custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-media-wrapper {
  width: 50%;
}
  
.custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-media-wrapper .v2-image-box {
  width: 100%;
}
  
.custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-media-wrapper .v2-image-box img {
  width: 100%;
  object-fit: cover;
}
  
.custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper {
  width: 50%;
}
  
.custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper .v2-content-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 90px;
}
  
.custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper .v2-content-box h2 {
  font-size: 38px;
  font-weight: 700;
  color: #D9D9D9;
}
  
.custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper .v2-content-box p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

  @media screen and (max-width: 1080px) {
  .custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper .v2-content-box {
    padding: 40px;
  }
}
  
@media screen and (max-width: 767px) {
  .custom-image-with-text-v2-section .custom-image-with-text-v2-container {
    flex-direction: column;
  }
  .custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-media-wrapper {
    width: 100%;
  }
  .custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper {
    width: 100%;
  }
  .custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper .v2-content-box {
    padding: 20px 0;
  }
  .custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper .v2-content-box h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper .v2-content-box p {
    font-size: 15px;
  }
}

@media screen and (max-width: 444px) {
  .custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper .v2-content-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper .v2-content-box p {
    font-size: 11px;
    margin: 0;
  }
  .custom-image-with-text-v2-section .custom-image-with-text-v2-container .image-with-text-content-wrapper .v2-content-box p svg {
    width: 12px;
    height: 12px;
  }
}
  
</style>

                    

{% schema %}
{
  "name": "Image with Text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Select Image"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 52,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "label": "Heading Text",
          "id": "heading"
        }
      ]
    },
    {
      "name": "Subheading",
      "type": "subheading",
      "settings": [
        {
          "type": "text",
          "label": "Subheading Text",
          "id": "subheading"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "textarea",
          "label": "Text Content",
          "id": "text"
        }
      ]
    },
    {
      "name": "Checklist Text",
      "type": "checklist-text",
      "settings": [
        {
          "type": "textarea",
          "label": "Checklist Text",
          "id": "checklist-text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Image Text V2"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
